USE [ProjectDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentNumber] [int] IDENTITY(1,1) NOT NULL,
	[WorkerID] [int] NOT NULL,
	[AssignmentID] [int] NULL,
	[CommentTitle] [nvarchar](100) NULL,
	[CommentText] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyPerformance](
	[PerformanceID] [int] IDENTITY(1,1) NOT NULL,
	[WorkerID] [int] NULL,
	[Date] [date] NULL,
	[DailyWorkedTime] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerformanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[WorkerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[EmployeeType] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FullTimeEmployee](
	[WorkerID] [int] NOT NULL,
	[EntranceDate] [date] NOT NULL,
	[Salary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HourlyEmployee](
	[WorkerID] [int] NOT NULL,
	[HourlySalary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[WorkerID] [int] NULL,
	[EmployeeWage] [decimal](18, 2) NULL,
	[CreateDate] [datetime] NULL,
	[HoursWorked] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[LeaveNumber] [int] IDENTITY(1,1) NOT NULL,
	[WorkerID] [int] NOT NULL,
	[LeaveType] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalLeaveDay]  AS (datediff(day,[StartDate],[EndDate])),
PRIMARY KEY CLUSTERED 
(
	[LeaveNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profit](
	[ProfitID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[TotalEarnings] [decimal](18, 2) NULL,
	[TotalExpenses] [decimal](18, 2) NULL,
	[ProfitValue]  AS ([TotalEarnings]-[TotalExpenses]) PERSISTED,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[ProjectStatus] [nvarchar](20) NULL,
	[Deadline] [date] NULL,
	[FinishDate] [date] NULL,
	[Budget] [decimal](18, 2) NULL,
	[ProjectDescription] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAssignment](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[TaskDescription] [nvarchar](max) NULL,
	[AssignmentDate] [datetime] NULL,
	[Deadline] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[ManagerID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[TeamID] [int] NOT NULL,
	[WorkerID] [int] NOT NULL,
 CONSTRAINT [PK_TeamMembers] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC,
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[DailyPerformance] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Profit] ADD  DEFAULT ((0)) FOR [TotalEarnings]
GO
ALTER TABLE [dbo].[Profit] ADD  DEFAULT ((0)) FOR [TotalExpenses]
GO
ALTER TABLE [dbo].[Profit] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT ('Active') FOR [ProjectStatus]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[TaskAssignment] ADD  DEFAULT (getdate()) FOR [AssignmentDate]
GO
ALTER TABLE [dbo].[Team] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Task] FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[TaskAssignment] ([AssignmentID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Task]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Employee] ([WorkerID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Worker]
GO
ALTER TABLE [dbo].[DailyPerformance]  WITH CHECK ADD  CONSTRAINT [FK_Perf_FullTimeWorker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[FullTimeEmployee] ([WorkerID])
GO
ALTER TABLE [dbo].[DailyPerformance] CHECK CONSTRAINT [FK_Perf_FullTimeWorker]
GO
ALTER TABLE [dbo].[FullTimeEmployee]  WITH CHECK ADD  CONSTRAINT [FK_FTE_Employee] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Employee] ([WorkerID])
GO
ALTER TABLE [dbo].[FullTimeEmployee] CHECK CONSTRAINT [FK_FTE_Employee]
GO
ALTER TABLE [dbo].[HourlyEmployee]  WITH CHECK ADD  CONSTRAINT [FK_HE_Employee] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Employee] ([WorkerID])
GO
ALTER TABLE [dbo].[HourlyEmployee] CHECK CONSTRAINT [FK_HE_Employee]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_HourlyWorker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[HourlyEmployee] ([WorkerID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_HourlyWorker]
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD  CONSTRAINT [FK_Leave_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[FullTimeEmployee] ([WorkerID])
GO
ALTER TABLE [dbo].[Leave] CHECK CONSTRAINT [FK_Leave_Worker]
GO
ALTER TABLE [dbo].[Profit]  WITH CHECK ADD  CONSTRAINT [FK_Profit_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[Profit] CHECK CONSTRAINT [FK_Profit_Project]
GO
ALTER TABLE [dbo].[TaskAssignment]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[TaskAssignment] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[TaskAssignment]  WITH CHECK ADD  CONSTRAINT [FK_Task_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[TaskAssignment] CHECK CONSTRAINT [FK_Task_Team]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Manager] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employee] ([WorkerID])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Manager]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_Member_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_Member_Team]
GO
ALTER TABLE [dbo].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_Member_Worker] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Employee] ([WorkerID])
GO
ALTER TABLE [dbo].[TeamMembers] CHECK CONSTRAINT [FK_Member_Worker]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([EmployeeType]='H' OR [EmployeeType]='F'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([EmployeeType]='H' OR [EmployeeType]='F'))
GO
ALTER TABLE [dbo].[FullTimeEmployee]  WITH CHECK ADD CHECK  (([Salary]>(0)))
GO
ALTER TABLE [dbo].[FullTimeEmployee]  WITH CHECK ADD CHECK  (([Salary]>(0)))
GO
ALTER TABLE [dbo].[HourlyEmployee]  WITH CHECK ADD CHECK  (([HourlySalary]>(0)))
GO
ALTER TABLE [dbo].[HourlyEmployee]  WITH CHECK ADD CHECK  (([HourlySalary]>(0)))
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD CHECK  (([LeaveType]='Vacation' OR [LeaveType]='Parental' OR [LeaveType]='Paternity' OR [LeaveType]='Maternity'))
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD CHECK  (([LeaveType]='Vacation' OR [LeaveType]='Parental' OR [LeaveType]='Paternity' OR [LeaveType]='Maternity'))
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD  CONSTRAINT [CK_Leave_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Leave] CHECK CONSTRAINT [CK_Leave_Dates]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [CK_Project_Dates] CHECK  (([FinishDate]>=[CreateDate]))
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [CK_Project_Dates]
GO
